@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    local("PT Sans"),
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  min-width: 1200px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  color: #333333;
  background-color: #888888;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

/* стили для шапки */
.menu-list {
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.menu-list:first-child {
  margin-left: 72px;
}

.menu-list:nth-child(2) {
  margin-left: 0;
}

/* .menu-list:last-child {
  margin-right: 72px;
} */

.menu-list-item {
  width: 200px;
}

.link-item {
  text-decoration: none;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.menu {
  display: flex;
  /* display: grid;
  grid-template-columns: 200px 1fr 2fr 1fr 1fr; */
}

.menu-logo {
  margin: 0 auto;
}

/* стили для footer */
.social-list-item {
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
}
