:root {
  --basic-light: #f2f2f2;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-light-grey: #EEEEEE;
  --basic-grey: #CACACA;
  --basic-dark-grey: #333333;
  --basic-extra-grey: #BDBBBC;
  --basic-medium-grey: #A9A9A9;
  --special-medium-grey: #EBEBEB;
  --special-grey: #666666;
  --special-light: #766357;
  --special: #604E43;
  --special-dark: #503E33;

}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light);
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  background-color: var(--basic-light);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}


/* стили для шапки */

.menu-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.menu-list {
  margin: 0;
  margin-top: -40px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  line-height: 26px;
  font-weight: 700;
}

.menu-list li {
  margin-bottom: 0;
  width: 300px;
}


.menu-list a {
  display: block;
  padding: 5px 10px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}


.menu-list a:hover,
.menu-list a:focus {
  color: var(--basic-light-blue);
  transition: 0.2s color ease;
  cursor: pointer;
}

.menu-list a:active {
  opacity: 0.3;
}

.menu-list .active a {
  color: var(--special);

}

/* стили для welcome */

.welcome-photo {
  display: block;
  max-width: 100%;
  height: auto;
}

/* стили для footer */
.copyright-logo:hover {
  color: var(--basic-light-blue);
}

.social-list {
  list-style: none;

}

.social-list-item {
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);

}

.social-list-item:first-of-type {
  background-image: url(/img/twitter.svg);
  background-repeat: no-repeat;
}

.social-list-item:nth-of-type(2) {
  background-image: url(/img/fb.svg);
  background-repeat: no-repeat;
}

.social-list-item:last-of-type {
  background-image: url(/img/youtube.svg);
  background-repeat: no-repeat;
}

/* стили для каталога */
.number-stars {
  background-image: url(/img/star.svg);

}

.sorting-down::before {
  content: "";
  position: absolute;
  top: 313px;
  left: 1133px;
  width: 11px;
  height: 10px;
  background-image: url(/img/icon-up.svg);
}

/* .sorting-down {
  background-color: var(--basic-grey);
  background-image: url(/img/icon-up.svg);

}

.sorting-up {
  background-color: var(--basic-light-blue);
  background-image: url(/img/icon-down.svg);
} */
